<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FireQ_1_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FireQ_1_1.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Connection String</value>
            </setting>
            <setting name="LocalizationCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="LoggedUser" serializeAs="String">
                <value>Logged User</value>
            </setting>
            <setting name="LightMode" serializeAs="String">
                <value>#EEEEEE</value>
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value>C:/path</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>#888888</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>#EEEEEE</value>
            </setting>
            <setting name="DarkModeEnebled" serializeAs="String">
                <value>False</value>
            </setting>
        </FireQ_1_1.Properties.Settings>
    </userSettings>
</configuration>